# ===============================
# DATASETS
# ===============================
yolo_training/recordings/
yolo_training/dataset/images_raw/
yolo_training/dataset/images_filtered_threshold18/

# ===============================
# YOLO OUTPUTS
# ===============================
yolo_training/model_1/runs/
*.pt
*.engine
*.onnx
*.avi
*.mp4

# ===============================
# ROSBAGS
# ===============================
*.bag

# ===============================
# PYTHON
# ===============================
__pycache__/
*.pyc

# ===============================
# MATLAB
# ===============================
*.asv

# ===============================
# SYSTEM
# ===============================
.DS_Store
Thumbs.db